ul {
  list-style-type: none;
}

.main-search input {
  background-image: url(/assets/search.svg);
  background-position: 99%;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.tag-container {
  min-height: 50px;
}

.dropdown-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 0;
}

.dropdown {
  margin-right: 20px;
}
.dropdown-item {
  color: white;
}

.list-unstyled {
  position: absolute;
  background-color: antiquewhite;
  left: 0;
  column-count: 3;
  background-color: inherit;
  display: none;
}

.list-unstyled.show {
  display: block;
}

.dropdown input {
  border: none;
}

.filter-input::placeholder {
  color: white;
}

.recipe-info {
  height: 17vh;
  background-color: #e7e7e7;
}

.recipe-card-img {
  height: 17vh;
  background-color: #c7bebe;
}

.card-bottom-container {
  font-size: 12px;
}

.description {
  line-height: 16px;
  font-style: normal;
  height: 113px;
  overflow: hidden;

  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.hide {
  display: none;
}

.tags .ingredients-dropdown {
  background-color: #0d6efd;
  color: white;
}

.tags .appliances-dropdown {
  background-color: #198754;
  color: white;
}

.tags .ustensils-dropdown {
  background-color: #dc3545;
  color: white;
}

.tags img {
  padding-left: 1rem;
}
